<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title>Edit challenge — challengerco.de</title>
		<%- include('codemirror.ejs') %>
		<script src="/js/challenge-fields.js"></script>
		<script src="/js/edit-challenge.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper columns">
			<%- include('challenge-fields.ejs') %>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
