<h1>Challenges</h1>
<p>
Go through them in order of difficulty.
</p>
<% for (const difficulty in list) { %>
<h2>Difficulty: <%= difficulty %></h2>
<% const challenges = list[difficulty] %>
<% for (const challenge of challenges) { %>
<div class="challenge">
	<h3><%= challenge.name %></h3>
	<p>
	<a href="/<%= challenge.owner || 'main' %>/<%= challenge.id %>">
		<button class="view">View</button>
	</a> or
	<a href="/<%= challenge.owner || 'main' %>/<%= challenge.id %>/run">
		<button class="run">Run</button>
	</a> the challenge.
	<a href="/<%= challenge.owner || 'main' %>/<%= challenge.id %>/edit">
		<button class="edit invisible">Edit</button>
	</a>
	</p>
</div>
<% } %>
<% } %>
