<h1>Challenges</h1>
<p>
Go through them in order of difficulty.
</p>
<% for (const difficulty in list) { %>
<h2>Difficulty: <%= difficulty %></h2>
<% const challenges = list[difficulty] %>
<% for (const challenge of challenges) { %>
<div class="challenge">
	<h3><%= challenge.name %></h3>
	<p>
	<button id="view"><a href="/<%= challenge.owner %>/<%= challenge.id %>">View</a></button> or
	<button id="run"><a href="/<%= challenge.owner %>/<%= challenge.id %>/run">Run</a></button> the challenge.
	</p>
</div>
<% } %>
<% } %>
