<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title>challengerco.de</title>
		<script src="/js/login.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<h1>Please login to continue</h1>
			<p>
			<a href="https://github.com/login/oauth/authorize?client_id=<%= clientId %>&scope=&state=<%= state %>">
				<button><img src="/img/github.svg" class="buttonlogo"> GitHub access</button>
			</a>
			</p>
			<p>
			Login with credentials:
			</p>
			<p>
			<input type="email" name="email" id="email" placeholder="Email address or username"></input>
			</p>
			<p>
			<input type="password" name="password" id="password" placeholder="Your password"></input>
			</p>
			<p>
			By signing up or logging in you agree to publish all challenge materials under a
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
				Creative Commons Attribution 4.0 International License
				<img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
			</a>.
			</p>
			<p>
			<button id="send">Login</button> <span id="result" class="invisible"></span>
			</p>
			<p>
			Or <a href="/user/signup">sign up</a> if you are new.
			</p>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
