<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= challenge.id %> - challengerco.de</title>
		<link rel="shortcut icon" href="/img/logo.png" />
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
		<script src="/js/run-challenge.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="read">
				<p>
					<a href="/"><img class="logo" src="/img/logo.png" /></a>
					<strong>challengerco.de</strong> — challenge yourself
				</p>
				<h1>
					<span id="challenge-id"><%= challenge.id %></span>:
					<%= challenge.name %></h1>
				<h2>The Challenge</h2>
				<p>
				<%= challenge.description %>
				</p>
				<h2>Public verifications</h2>
				<% for (const verification of challenge.verifications) { %>
				<p><%= verification.name %></p>
				<p><%= verification.input %> ⇒ <%= verification.output %></p>
				<% } %>
			</div>
			<div class="write">
				<h2>Write Your Solution</h2>
				<textarea class="solution" id="solution" name="Solution">
/**
 * Write a function solve() that solves the challenge.
 */
function solve() {
	// write your code here
}
</textarea>
				<button id="submit">Send</button>
				<div id="result">
					<h2>Result:
						<span id="success">???</span>
					</h2>
					<ol>
						<% for (let i = 0; i < challenge.totalVerifications; i++) { %>
						<li>
							<span id="name<%= i %>">
								<%= challenge.verifications[i] ? challenge.verifications[i].name : '' %>
							</span>
							<span id="success<%= i %>">???</span>
						</li>
						<% } %>
				</div>
			</div>
		</div>
		<h2>Home</h2>
		<p>
		More challenges on <a href="/">challengerco.de</a>!
		</p>
		<p>
		Fork me <a href="https://github.com/alexfernandez/challenger-code">on GitHub</a>.
		</p>
	</body>
</html>

