<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title><%= challenge.id %> - challengerco.de</title>
		<!-- Codemirror from https://cdnjs.com/libraries/codemirror -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"
			integrity="sha256-vZ3SaLOjnKO/gGvcUWegySoDU6ff33CS5i9ot8J9Czk=" crossorigin="anonymous" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.js"
			integrity="sha256-dPTL2a+npIonoK5i0Tyes0txCMUWZBf8cfKRfACRotc=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.min.js"
			integrity="sha256-7AjEsHnW7cpq2raC/uxnGCP2G4zIKmCdz7OAv6LN00o=" crossorigin="anonymous"></script>
		<script src="/js/run-challenge.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="read">
				<p>
					<a href="/"><img class="logo" src="/img/logo.png" /></a>
					<strong>challengerco.de</strong> — challenge yourself
				</p>
				<h1>
					<span id="challenge-id"><%= challenge.id %></span>:
					<%= challenge.name %></h1>
				<h2>The Challenge</h2>
				<p>
				<%= challenge.description %>
				</p>
				<h2>Public verifications</h2>
				<% for (const verification of challenge.verifications) { %>
				<p><%= verification.name %></p>
				<pre>[<%= verification.input %>] ⇒ <%= verification.output %></pre>
				<% } %>
			</div>
			<div class="write">
				<h2>Your Solution</h2>
				<textarea class="solution" id="solution" name="Solution">
/**
 * Write a function solve() with your answer to the challenge.
 */
function solve(array) {
	// write your code here
}
</textarea>
				<button id="send">Send</button>
				<div id="result">
					<h2>Result:
						<span id="success">???</span>
					</h2>
					<pre id="error" class="invisible"></pre>
					<ol id="verifications">
						<% for (let i = 0; i < challenge.totalVerifications; i++) { %>
						<li>
							<span id="name<%= i %>">
								<%= challenge.verifications[i] ? challenge.verifications[i].name : '' %>
							</span>
							<span id="success<%= i %>">???</span>
						</li>
						<% } %>
				</div>
			</div>
		</div>
		<h2>Home</h2>
		<p>
		More challenges on <a href="/">challengerco.de</a>!
		</p>
		<p>
		Fork me <a href="https://github.com/alexfernandez/challenger-code">on GitHub</a>.
		</p>
	</body>
</html>

