<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title><%= challenge.id %> - challengerco.de</title>
		<%- include('codemirror.ejs') %>
		<script src="/js/run-challenge.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper columns">
			<div class="read">
				<h1>
					<span id="challenge-id"><%= challenge.id %></span>:
					<%= challenge.name %></h1>
				<h2>The Challenge</h2>
				<p>
				<%= challenge.description %>
				</p>
				<h2>Public verifications</h2>
				<% for (const verification of challenge.verifications) { %>
				<p><%= verification.name %></p>
				<pre>[<%= verification.input %>] ⇒ <%= verification.output %></pre>
				<% } %>
			</div>
			<div class="solve">
				<h2>Your Solution</h2>
				<textarea class="solution" id="solution">
/**
 * Write a function solve() with your answer to the challenge.
 */
function solve(array) {
	// write your code here
}
</textarea>
				<button id="send">Send</button>
				<div id="result">
					<h2>Result:
						<span id="success">???</span>
					</h2>
					<pre id="error" class="invisible"></pre>
					<ol id="verifications">
						<% for (let i = 0; i < challenge.totalVerifications; i++) { %>
						<li>
							<span id="name<%= i %>">
								<%= challenge.verifications[i] ? challenge.verifications[i].name : '' %>
							</span>
							<span id="success<%= i %>">???</span>
						</li>
						<% } %>
				</div>
			</div>
		</div>
		<%- include('bottombar.ejs') %>
	</body>
</html>

