<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title><%= challenge.id %> — challengerco.de</title>
		<%- include('codemirror.ejs') %>
		<script src="/js/fetch.js"></script>
		<script src="/js/run-challenge.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper columns">
			<div class="read">
				<h1>
					<span id="owner"><%= challenge.owner %></span> / <span id="id"><%= challenge.id %></span>:
					<%= challenge.name %></h1>
				<h2>The Challenge</h2>
				<p>
				<%= challenge.description %>
				</p>
				<h2>Verifications</h2>
				<div id="verifications">
				<% for (const [i, verification] of challenge.verifications.entries()) { %>
				<p class="verification" id="verification<%= i %>">
				<%= verification.name %> (<%= verification.public ? 'public' : 'private' %>)
				<span id="success<%= i %>"></span>
				<br/>
				<tt>solve(<%= verification.input %>) = <%= verification.output %></tt>
				</p>
				<% } %>
				</div>
			</div>
			<div class="solve">
				<h2>Your Solution</h2>
				<textarea class="solution" id="solution">
/**
 * Write a function solve(<%= challenge.parameters %>) with your answer to the challenge.
 */
function solve(<%= challenge.parameters %>) {
	// write your code here
}
</textarea>
				<button id="send">Send</button>
				<button id="fork" class="invisible">Fork</button>
				<button id="edit" class="invisible">Edit</button>
				<span id="result" class="invisible"></span>
				<div id="run">
					<h2>Result:
						<span id="success">???</span>
					</h2>
					<p>
					Verification time:
					<span id="time"></span>
					</p>
					<p>
					Code size:
					<span id="nodes"></span>
					</p>
				</div>
			</div>
		</div>
		<%- include('bottombar.ejs') %>
	</body>
</html>

