<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title>challengerco.de</title>
		<script src="/js/signup.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<h1>Please sign up to start</h1>
			<p>
			<a href="https://github.com/login/oauth/authorize?client_id=<%= clientId %>&scope=&state=<%= state %>">
				<button><img src="/img/github.svg" class="buttonlogo"> GitHub access</button>
			</a>
			</p>
			<p>
			Create a new user:
			</p>
			<p>
			<input type="text" id="username" value="<%= existing.username || '' %>" placeholder="Username"></input>
			</p>
			<p>
			<input type="email" id="email" value="<%= existing.email || '' %>" placeholder="Your email address"></input>
			</p>
			<p>
			<input type="password" id="password" placeholder="Your password"></input>
			</p>
			<p>
			<input type="password" id="confirmPassword" placeholder="Confirm your password"></input>
			</p>
			<p>
			<button id="send">Sign up</button> <span id="error" class="invisible"></span>
			</p>
			<p>
			Or <a href="/user/login">log in</a> if you already have a user.
			</p>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
