<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title><%= username %> — challengerco.de</title>
		<script src="/js/fetch.js"></script>
		<script src="/js/user-page.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<h1 id="username"><%= username %></h1>
			<p>
			A most excellent challenger.
			</p>
			<div id="personal" class="invisible">
				<h2>Personal Area</h2>
				<p>
				<a href="/user/settings"><button id="settings">Settings</button></a>
				<button id="logout">Log out</button>
				</p>
			</div>
			<h2>Accomplishments</h2>
			<p>
			Has overcome the odds on many challenges.
			</p>
			<% for (const success of successes) { %>
			<p>
			<a href="/<%= success.owner %>/<%= success.id %>"><%= success.name %></a>:
			passed <%= success.times %> times,
			best time <%= success.elapsedMin %> ms —
			worst <%= success.elapsedMax %>.
			</p>
			<% } %>
			<%- include('list-challenges.ejs') %>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
