<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title><%= user.username %> — challengerco.de</title>
		<script src="/js/user-page.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<h1><%= user.username %></h1>
			<p>
			A most excellent challenger.
			</p>
			<%- include('list-challenges.ejs') %>
			<h2>Accomplishments</h2>
			<p>
			Has overcome the odds on many challenges.
			</p>
			<% if (myself) { %>
			<h2>Your page</h2>
			<p>
			<button id="settings"><a href="/user/settings">Settings</a></button>
			<button id="logout">Log out</button>
			</p>
			<% } %>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
