<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title><%= challenge.id %> — challengerco.de</title>
		<script src="/js/deletion.js"></script>
		<script src="/js/view-challenge.js"></script>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<p>
				<a href="/<% challenge.owner %>"><span id="owner"><%= challenge.owner %></span></a> /
				<span id="id"><%= challenge.id %></span>
			</p>
			<h1 id="name"><%= challenge.name %></h1>
			<h2>The Challenge</h2>
			<p>
			<%= challenge.description %>
			</p>
			<h2>Ready for It?</h2>
			<p>
			<a href="/<%= challenge.owner %>/<%= challenge.id %>/run">
				<button id="run">Run the challenge!</button>
			</a>
			<a href="/<%= challenge.owner %>/<%= challenge.id %>/edit">
				<button id="edit" class="invisible">Edit</button>
			</a>
			<button id="delete" class="delete invisible">🗑</button>
			<span id="result"></span>
			</p>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
