<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title><%= challenge.id %> — challengerco.de</title>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<h1><%= challenge.username %>: <%= challenge.name %></h1>
			<h2>The Challenge</h2>
			<p>
			<%= challenge.description %>
			</p>
			<p>
			<button id="fork" class="invisible">Fork</button>
			<button id="edit" class="invisible">Edit</button>
			</p>
			<h2>Ready for It?</h2>
			<p>
			<a href="/main/<%= challenge.id %>/run">Run the challenge!</a>
			</p>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
