<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head.ejs') %>
		<title><%= challenge.id %> - challengerco.de</title>
	</head>
	<body>
		<%- include('topbar.ejs') %>
		<div class="wrapper">
			<h1><%= challenge.name %></h1>
			<h2>The Challenge</h2>
			<p>
			<%= challenge.description %>
			</p>
			<h2>Ready for It?</h2>
			<p>
			<a href="/run/<%= challenge.id %>">Run the challenge!</a>
			</p>
		</div>
		<%- include('bottombar.ejs') %>
  </body>
</html>
